/* IMPOSTAZIONI GENERALI  */

body { 
    font-family: "Open Sans", sans-serif;
    
    color: #393d41;
}

/* header */

header {
    background-color: black;
    padding: 40px;
    text-align: left;
}

/* main  */

section {
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 340px;
    line-height: 1.5;
    padding-left: 32em;
    padding-right: 32em;
    font-size: 0.7em;
    }

section h1 {
    color: #25a2c3 ;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 7em;
    padding-bottom: 0.5em;
    line-height: 1;
}
 section button {
    font-family: "Montserrat";
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
    color: white;
    margin-top: 20px;    
    border-radius: 5px;
    border: 0;
 }

 /* primi paragrafi  */

 #firstp {
    font-size: 0.7em;
    margin-top: 9em;
    line-height: 1.5;
    margin-right: 18em;
 }

 div h2 {
    color: #25a2c3 ;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
 }

 .imglap {
    float: left;
    border-radius: 50%;
    height: 260px;
    width: 260px;
    margin-left: 50em;
    margin-right: 4em;
 }

/* seconda parte main  */

#ceo {
    background-color: orangered;
    text-align: center;
    color: white;
    line-height: 1.5;
    margin-top: 8em;
    padding-bottom: 1.5em;
    padding-top: 1em;
    font-style: italic;
    font-size: 1.2em;
    height: 210px;
}
#ceop {
    font-style: normal;
    font-size: 0.5em;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 2.2em;
    padding-bottom: 0.5em;
    font-style: normal;
}

h4 {
    padding-top: 1em;
    font-size: 0.8em;
    font-style: normal;
}

/* box  */

.box1 {
    text-align: center;
    border: 1px solid #dee1e3;
    margin-right: 2em;
    line-height: 1.5;
    float: left; 
    width: 26%;
    margin-top: 7em;
    margin-left: 9em;
    padding-bottom: 3.4em;
}
    
.box2 { 
    text-align: center;
    border: 1px solid #dee1e3;
    margin-right: 2em;
    line-height: 1.5;
    float: left; 
    width: 26.6%; 
    margin-top: 7em;
    padding-bottom: 2em;    
}
    
.box3 { 
    text-align: center;
    border: 1px solid #dee1e3;
    line-height: 1.5;
    float: left; 
    width: 29%; 
    margin-top: 7em;
    padding-bottom: 3.4em;
}

#foto1 {
    width: 100%;
}
#foto2 {
    width: 100%;
}
#foto3 {
    width: 100%;
}



/* footer  */

footer {
    background-color: #25a2c3;
    color: white;
    line-height: 1.5;
    margin-top: 50em;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 0.9em;
    padding-left: 60em;   
}

footer a {
    color: white;
}



footer h2 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.5em;
}